.ui-button{
  height: 84px!important;
  line-height: 84px!important;
  background: $color-btn!important;
  box-shadow: 0px 6px 12px 0px rgba($color-shadow, .62);
  border-radius: 40px!important;
  font-size: 32px!important;
  color: #fff!important;
  border: none;
}