// 全局变量
@charset "UTF-8";

$color-theme: #00E6BF; // 主色
$color-secondary: #faad14; // 辅色
$color-danger: #FF8585; // 警告

$color-title: #262626; // 标题色
$color-body: #595959; // 正文色
$color-desc: #898989; // 描述色
$color-white: #FFFFFF;  // 白色

$color-border: #bfbfbf; // 边框色
$color-border-light: #F2F2F2; // 浅色边框
$color-bg-gray: #e8e8e8; // 灰色背景
$color-bg-gray-light: #f0f0f0; // 浅灰色背景

$color-btn: #449BFF; // 主按钮色
$color-shadow: #6EB6FF; // 阴影

$gutter: 15px;
$gutter-lg: 30px;
